/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
++++++++++++ START TO PERSONAL CSS ++++++++++++++++++
*/
body {
    font-family: 'Times New Roman', Times, serif;
    background: rgb(130,126,195);
    background: linear-gradient(90deg, rgba(130,126,195,1) 0%, rgba(237,237,231,1) 63%, rgba(151,152,152,1) 100%);
}
h1 {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
#h1 {
    margin-left: 20px;
    position: absolute;
    text-align: center;
    font-size: x-large;
}
li {
    list-style: none;
}
nav {
    background: rgb(13,1,226);
    background: linear-gradient(90deg, rgba(13,1,226,1) 0%, rgba(0,0,0,1) 100%, rgba(151,152,152,1) 100%);
    color: #fff;
    padding: 20px;
}
ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;

}
.input-name {
    padding: 8px;
    border-radius: 10px;
    border: none;
}
.submit {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    
}
main {
    text-align: center;
    padding:50px;
    margin: 50px;
}
.body-page {
    position: relative;

}
.head {
    height: 200px;
    width: 200px;
    background-color: rgb(26, 26, 157);
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: auto ;
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;   
    color: black;
    padding:10px;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    border: solid 2px black;
}
.eyes{
    width: 70px;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    border: solid 2px black;
}
.pupils {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: black;
    border: 5px solid blue;
}
.mouth {

    grid-column-start: 1;
    grid-column-end: 3;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    border: solid 2px black;
    font-size: larger;
    font-weight: bolder;
    background-color: white;
}
.neck {

    width: 15px;
    height: 25px;
    background-color: rgb(26, 26, 157);
    border: solid 1px black;
}
.body {
    width: 250px;
    height: 300px;
    background-color: rgb(26, 26, 157);
    border: solid 2px black;
    border-radius: 5px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.body > div {
    width: 200px;
    height: 250px;
    background-color: gray;
    border-radius: 5px;
    border: solid 2px black;
    color: white;
}
.arm-left {
    position: absolute;
    width: 190px;
    height: 20px;
    background-color: rgb(26, 26, 157);
    border: solid 2px black;
    margin-left:-425px;
    margin-top: 1000px;
    transform: rotate(-20deg);
    z-index: -1;
    
}
.arm-right {
    position: absolute;
    width: 190px;
    height: 20px;
    background-color: rgb(26, 26, 157);
    border: solid 2px black;
    margin-left:425px;
    margin-top: 1000px;
    transform: rotate(20deg);
    z-index: -1;
    
}
.hand-right {
    width: 40px;
    height: 40px;
    background-color: rgb(26, 26, 157);
    border: solid 2px black;
    border-radius: 5px;
    margin-left:-595px;
    margin-top: 1060px;
    position: absolute;
    transform: rotate(-20deg);
}
.hand-left {
    width: 40px;
    height: 40px;
    background-color: rgb(26, 26, 157);
    border: solid 2px black;
    border-radius: 5px;
    margin-left:595px;
    margin-top: 1060px;
    position: absolute;
    transform: rotate(20deg);
}

.flex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.legs {
    
    width: 20px;
    height: 90px;
    background-color: rgb(26, 26, 157);
    border: solid 2px black;

}

main {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -50px;
    padding-bottom: -50px;
}
.footer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}
.feet {
    width: 60px;
    height: 30px;
    background-color: rgb(26, 26, 157);
    border: solid 2px black;
    border-radius: 5px;    
}
.red {
    background-color: rgb(250, 0, 0);
    border:none;
}
.white {
    background-color: white;
}
.blue {

    background-color: rgb(26, 26, 157);
    border: none;

}
.box {
    animation-name: bounce;
    animation-duration: 4s; /* or: Xms */
    animation-iteration-count: 10;
    animation-direction: alternate; /* or: normal */
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
    animation-delay: 2s; /* or: Xms */
   }
.head-2 {
    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
}
  
@keyframes skew {
    0% {
      transform: skewX(20deg);
    }
    100% {
      transform: skewX(-20deg);
    }
}
  
  
